body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    background-color: #cbe6b8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #5d8a49;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #4a7239;
}

h3 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    font-size: 16px;
}

/* Danh sách người đăng ký */
/* Danh sách người đăng ký */
h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 400px;
}

li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #5d8a49;
}

li strong {
    color: #333;
}

li br {
    display: block;
    margin: 5px 0;
}
